/* CSS declarations go here */

body { padding-top: 70px; }

#container{
	text-align: center;
}

#svgGrid {
	margin-top: 50px;
	max-width: 90%;
	min-height: 600px;
}

.menu-span {
	display: block;
	margin: 15px;
}

.float-button {
	position: fixed !important;
	bottom: 10px;
	left: -70px;
	padding-top: 13px !important;
	padding-left: 2px !important;
}

.navmenu-top {
	color: #fff;
	background-color: #009688;
	text-transform: uppercase;
	min-height: 60px;
	text-align: center;
	padding-top: 18px;

}

.configChoice {
	margin-left: 5px;
}
