/* CSS declarations go here */

#container{
	text-align: center;
}

#svgGrid {
	width: 80%;
	max-width: 800px;
}

.wire_1_0_vert {
	fill: blue;
	stroke: blue;
}

.wire_1_0 {
	fill: blue;
	stroke: blue;
}

.wire_2_0 {
	fill: blue;
	stroke: blue;
}

.wire_3_0 {
	fill: blue;
	stroke: blue;
}

.wire_4_0 {
	fill: blue;
	stroke: blue;
}

.wire_5_0 {
	fill: blue;
	stroke: blue;
}

.wire_6_0 {
	fill: blue;
	stroke: blue;
}